.cart {
    padding: 20px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .cart-item-details {
    display: flex;
    flex-direction: column;
  }
  
  .remove-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    max-width: 100px;
    text-align: center;
  }
  
  .remove-button:hover {
    background-color: darkred;
  }
  