body {
  overflow-x: hidden;
}

.promo-slide {
  display: flex;
  padding: 150px;
  margin: 10px 0px;
  background-color: #e0dede;
  background-image: url("D:\e-commerce0\my-app\src\Components\Assests\slider-bg.jpg");
  background-size: cover;
  background-position: right;
  height: 630px;
}

.promo-content {
  flex: 1;
  text-align: left;
  margin: 10px 115px 0px 75px;
  
}

.promo-content h2 {
  font-size: 3rem;
  color: red;
}

.promo-content h3 {
  font-size: 2.5rem;
  color: #001f3f;
}

.promo-content p {
  font-size: 1rem;
  margin: 20px 0;
  color: #333 ;
}

.promo-content button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.promo-image {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.promo-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

@media (min-width: 992px) {
  .promo-slide {
    flex-direction: row;
    height: 630px;
    padding: 150px;
    background-position: right;
  }

  .promo-content {
    margin: 10px 115px 0px 75px;
  }

  .promo-content h2 {
    font-size: 3rem;
  }

  .promo-content h3 {
    font-size: 2.5rem;
  }
}

@media (max-width: 991px) {
  .promo-slide {
    flex-direction: column;
    height: auto;
    padding: 100px 30px;
    background-position: center;
  }

  .promo-content {
    margin: 10px 20px;
  }

  .promo-content h2 {
    font-size: 2.5rem;
  }

  .promo-content h3 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .promo-slide {
    padding: 80px 20px;
  }

  .promo-content h2 {
    font-size: 2rem;
  }

  .promo-content h3 {
    font-size: 1.8rem;
  }
}

@media (max-width: 576px) {
  .promo-slide {
    padding: 60px 10px;
  }

  .promo-content h2 {
    font-size: 1.8rem;
  }

  .promo-content h3 {
    font-size: 1.5rem;
  }
}