.terms-of-service {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  background:linear-gradient(180deg,#D5D1CD 0%,#e1ffea22 60%);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}

h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #007bff;
}

h2:hover {
  text-decoration: underline;
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

ul {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  margin-left: 20px;
}

.section-collapsed {
  display: none;
}

.section-expanded {
  display: block;
}

.section-collapsed + p,
.section-collapsed + ul {
  display: none;
}

@media only screen and (max-width: 600px) {
  .terms-of-service {
    padding: 10px;
  }
}
