.footer {
    background-color: #f5f5f5; /* Light grey color */
    color: #333; /* Dark text color */
    padding: 50px 0;
}

.footer-top {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-logo img {
    width: 150px;
    margin-bottom: 20px;
}

.footer-links {
    display: flex;
}

.footer-links-column {
    flex: 1;
    margin: 0 20px;
}

.footer-links-column h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333; /* Dark text color */
}

.footer-links-column ul {
    list-style: none;
    padding: 0;
}

.footer-links-column ul li {
    margin-bottom: 10px;
}

.footer-links-column ul li button {
    background: none;
    border: none;
    color: #333; /* Dark text color */
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s ease; /* Add transition for color change */
}

.footer-links-column ul li button:hover {
    text-decoration: underline;
    color: #ff69b4; /* Change color on hover */
}

.social-icons {
    display: flex;
}

.social-icons button {
    background: none;
    border: none;
    color: #333; /* Dark text color */
    cursor: pointer;
    font-size: 24px;
    margin-right: 10px;
    transition: color 0.3s ease; /* Add transition for color change */
}

.social-icons button:hover {
    color: #ff69b4; /* Change color on hover */
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    background-color: #fff; /* White background for bottom section */
    color: #333; /* Dark text color */
    font-size: 14px;
}

.footer-bottom p:hover {
    color: #ff69b4; /* Change color on hover */
    cursor: pointer;
}
