
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Container Styles */
.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 0 20px; 
}

.popular h1 {
  color: #171717;
  font-size: 30px;
  font-weight: 600;
}

.popular hr {
  width: 70%;
  border-radius: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
}

.popular-item {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.popular-item ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.popular-item li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  height: 100%;
  transition: transform 0.3s ease;
}

.item:hover {
  transform: translateY(-5px);
}

.item img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  cursor: pointer;
}

.item p {
  margin: 10px 0;
  font-size: 18px;
  color: #171717;
}

.item-prices {
  display: flex;
  gap: 10px;
}

.item-price-new {
  color: #e74c3c;
  font-weight: 600;
}

.item-price-old {
  color: #95a5a6;
  text-decoration: line-through;
}


@media only screen and (max-width: 768px) {
  .item {
    max-width: 100%; 
    height: 350px; 
  }

  .item img {
    max-height: 300px; 
  }
}
