.new-arrivals {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: #d5d1cd;
  max-width: 100%;
}

.new-arrivals-image img {
width: 900px;
  height: 100%;
}

.new-arrivals-content {
  margin-left: -500px;
  text-align: left;
}

.new-arrivals-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
}

.new-arrivals-content p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  margin-bottom: 10px;
}

.new-arrivals-content button {
  background-color: #2c3e50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-arrivals-content button:hover {
  background-color: red;
}
